* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.d__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

header {
  padding: 20px;
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
header ul li a {
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  position: relative;
}
header ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transition: 0.3s ease-in-out;
}
header ul li a:hover::before {
  left: 0;
  width: 100%;
}

main {
  padding-top: 5rem;
}
main marquee {
  padding-top: 10px;
  color: #888;
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
}
main .add__task {
  padding-top: 20px;
}
main .add__task h1 {
  text-align: center;
  font-size: clamp(1.125rem, 0.7321rem + 1.9643vw, 2.5rem);
}
main .add__task .form__box {
  margin-top: 40px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 40px 20px;
}
main .add__task .form__box form h2 {
  text-align: center;
  font-size: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
  letter-spacing: 2px;
}
main .add__task .form__box form .input__box {
  padding: 10px 20px;
}
main .add__task .form__box form .input__box input,
main .add__task .form__box form .input__box textarea,
main .add__task .form__box form .input__box select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  position: relative;
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
}
main .add__task .form__box form .input__box span {
  width: 100%;
  position: relative;
  display: inline-block;
}
main .add__task .form__box form .input__box span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: 15px;
  background-color: black;
  transition: 0.3s ease-in-out;
}
main .add__task .form__box form .input__box .description__span::after {
  bottom: 18px;
}
main .add__task .form__box form .input__box .title:focus ~ .title__span::after {
  width: 100%;
}
main .add__task .form__box form .input__box .description {
  min-height: 50px;
  max-height: 100px;
  resize: vertical;
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
}
main .add__task .form__box form .input__box .description:focus ~ .description__span::after {
  width: 100%;
}
main .add__task .form__box form .input__box .date {
  padding: 10px 0 10px 10px;
}
main .add__task .form__box form .input__box .date:focus ~ .date__span::after {
  width: 100%;
}
main .add__task .form__box form .input__box .priority:focus ~ .priority__span::after {
  width: 100%;
}
main .add__task .form__box form .btn__box {
  display: flex;
  justify-content: center;
}
main .add__task .form__box form .btn__box button {
  width: 40%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
main .add__task .form__box form .btn__box button:hover {
  transform: scale(1.1);
}
main .add__task .form__box .list {
  padding: 10px;
  margin-top: 20px;
}
main .add__task .form__box .list ul li {
  list-style: none;
  padding: 10px 0;
}
main .task__list-box {
  padding-top: 7rem;
  padding-bottom: 40px;
}
main .task__list-box .task__filters {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 40px;
}
main .task__list-box .task__filters h2 {
  text-align: center;
  font-size: clamp(1.5rem, 1.3929rem + 0.5357vw, 1.875rem);
  letter-spacing: 2px;
}
main .task__list-box .task__filters .task__filter-btns {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 30px 0;
}
main .task__list-box .task__filters .task__filter-btns button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid blue;
  color: blue;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
main .task__list-box .task__filters .task__filter-btns button:hover {
  background-color: blue;
  color: #fff;
  border-color: #fff;
}
main .task__list-box .task__filters .task__filter-btns .active__btn {
  background-color: blue;
  color: #fff;
}
main .task__list-box .task__filters .task__list {
  list-style: none;
  max-height: 350px;
  overflow-y: auto;
}
main .task__list-box .task__filters .task__list li {
  background-color: #fff;
  padding: 12px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  line-height: 30px;
}
main .task__list-box .task__filters .task__list li .icon__btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .task__list-box .task__filters .task__list li .icon__btn button {
  border: none;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
}
main .task__list-box .task__filters .task__list li .icon__btn button:hover {
  border: 1px dashed blue;
}
main .task__list-box .task__filters .task__list li .icon__btn .del__btn,
main .task__list-box .task__filters .task__list li .icon__btn .edit__btn {
  color: blue;
  cursor: pointer;
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
}
main .task__list-box .task__filters .task__list li .icon__btn .del__btn:hover {
  color: red;
}
main .task__list-box .task__filters .task__list li .icon__btn .edit__btn:hover {
  color: green;
}
main .task__list-box .task__filters .task__list .completed .list__content {
  text-decoration: line-through;
  opacity: 0.5;
}
main .task__list-box .task__filters .task__list .completed .icon__btn button {
  border: 1px dashed blue;
}
main .task__list-box .task__filters .task__list .completed .icon__btn button:hover {
  border: 1px solid blue;
}
main .task__list-box .task__filters .task__list .priority__low {
  border-left: 5px solid green;
}
main .task__list-box .task__filters .task__list .priority__medium {
  border-left: 5px solid orange;
}
main .task__list-box .task__filters .task__list .priority__high {
  border-left: 5px solid red;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  main marquee {
    padding-top: 0;
  }
  main .add__task {
    padding-top: 12px;
  }
  main .add__task .form__box {
    width: 100%;
    margin-top: 20px;
    padding: 24px 10px;
  }
  main .add__task .form__box form h2 {
    letter-spacing: 1px;
  }
  main .add__task .form__box form .input__box {
    padding: 0;
  }
  main .add__task .form__box form .btn__box button {
    width: 50%;
  }
  main .task__list-box {
    padding-top: 3rem;
  }
  main .task__list-box .task__filters {
    padding: 20px;
  }
  main .task__list-box .task__filters .task__filter-btns {
    flex-wrap: wrap;
    gap: 5px;
  }
  main .task__list-box .task__filters .task__filter-btns button {
    padding: 5px 10px;
  }
  main .task__list-box .task__filters .task__list li {
    display: block;
    line-height: 22px;
  }
  main .task__list-box .task__filters .task__list li .list__content {
    font-size: 14px;
  }
  main .task__list-box .task__filters .task__list li .icon__btn {
    padding-top: 10px;
  }
  main .task__list-box .task__filters .task__list li .icon__btn .complete__btn {
    padding: 5px;
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */